@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: lightblue;
    font-family: "Noto Serif", sans-serif;
}

/* .mainFooter{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0
} */

.content{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
}
